doctype
html
  head
    meta(charset="UTF-8")
    meta(lang="en")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Recovery Status Tracker
    link(rel="stylesheet" href="./main.css")
  body
    != yield
    script(src="./app.js")
    
