@import 'variables'
@import 'removal'
*
  margin: 0
  padding: 0

body
  background: $bg
  color: $black
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: 18px
  margin: 0
  padding: 0
  width: 100%

h1
  font-size: 3.33rem
  font-weight: 400
  line-height: 3rem

  @media(max-width: 640px)
    font-size: 2rem

h2
  color: $purple--dark
  font-size: 1.278rem
  font-weight: bold
  margin-bottom: $line-height
  text-transform: uppercase

h3
  color: $purple--dark
  font-size: 1rem
  font-weight: bold
  margin-bottom: $space

p, li
  font-size: 1rem
  line-height: 1.44
  margin: 0

a
  color: $purple
  overflow-wrap: break-word
  text-decoration: underline

  &:hover
    color: $purple--dark

strong
  font-weight: 700

.wrapper
  margin: 0 auto
  max-width: 1024px
  padding: 0 $space

.callout
  color: $purple

.tracker
  &__header
    background: white
    border-bottom: 1px solid #E3E8FA
    margin-bottom: $space--big
    padding: $space--big 0
    width: 100%

    @media(max-width: 640px)
      text-align: center
      padding: $space 0

  &__content
    display: flex
    flex-wrap: wrap

  &__right
    order: 2
    width: 30%
    @media(max-width: 640px)
      order: 0

  &__left
    order: 1
    width: 70%
    padding-right: $space
    @media(max-width: 640px)
      padding-right: 0

  &__left,
  &__right
    box-sizing: border-box

    @media(max-width: 640px)
      width: 100%

  &__section
    border-bottom: 1px solid $purple--light
    margin-bottom: $space--big
    padding-bottom: $space--big

    &:last-child
      border-bottom: none

    p
      margin-bottom: $line-height;

  &__update-callout
    border: 1px solid $purple--light
    margin-bottom: $space
    padding: $space
    text-align: center

  &__timestamp
    margin-bottom: $space

  &__update-details
    margin-bottom: $space

  &__button
    background: $purple
    border-radius: $corners
    color: white
    display: inline-block
    font-weight: 700
    padding: $space 0
    text-align: center
    text-decoration: none
    text-transform: uppercase
    transition: background 0.2s ease-out
    width: 100%

    &:hover
      background: $purple--dark
      color: white

    &--accordion
      background: white
      color: $purple
      cursor: pointer
      text-align: left
      transition: color 0.2s ease-out

      &:after
        border-left: 2px solid $purple
        border-bottom: 2px solid $purple
        color: $purple
        content: ""
        cursor: pointer
        height: 10px
        position: absolute
        right: $space
        transform: rotate(-45deg)
        transition: border-color 0.2s ease-out
        width: 10px

      &:hover
        background: white
        color: $purple--dark

        &:after
          border-color: $purple--dark

      &.open
        &:after
          transform: rotate(135deg)

    &--confirm
      border: 1px solid $purple

    &.confirmed
      background: $bg
      border: 1px solid $purple
      color: $purple
      pointer-events: none
      position: relative

  &__alert
    &--first-time
      border: 1px solid $red
      background: #fff
      margin-bottom: $space--big
      padding: $space

  &__list
    padding-left: $space
    margin-bottom: $line-height

    .list-item
      height: 100%
      font-size: 1rem
      line-height: $line-height
      margin-bottom: $space
      position: relative

      &--complete
        font-style: italic
        text-decoration: line-through

        a
          color: $black

  &__accordion
    background: white
    border: 1px solid $purple
    border-radius: $corners
    height: 60px
    margin-bottom: $space--big
    overflow: hidden
    padding: 0 $space
    position: relative

    &.open
      height: 100%

  &__inline-cta
    @media(max-width: 640px)
      text-align: center

    .inline-cta-text,
    .tracker__button
      display: inline-block;

    .tracker__button
      margin: 0 10px $space 0
      width: 25%

      @media(max-width: 640px)
        width:100%

.checkbox[type="checkbox"]
  opacity: 0
  position: absolute
  top: 0

.label
  display: inline-block
  font-size: 1rem
  line-height: $line-height
  padding-left: $space--big
  vertical-align: top

  &:before
    cursor: pointer
    background: $white
    border: 1px solid $purple
    border-radius: $corners
    content: ""
    display: inline-block
    height: 20px
    left: 5px
    top: 2px
    position: absolute
    width: 20px

    &:hover
      border-color: $purple--dark

  &:after
    content: ""
    cursor: pointer
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    position: absolute
    left: 10px
    top: 7px
    transform: rotate(-50deg);

input[type="checkbox"] + .label
  &:after
    content: none

input[type="checkbox"]:checked + .label
  &:before
    background-color: $purple

  &:after
    content: "";

//Weather style overrides
#weather
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
